.teambox {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.75s;
  &.CT {
    .player .hp_bar,
    .obs_slot {
      background-color: var(--color-new-ct);
    }
    .player-stats svg {
      fill: var(--color-new-ct);
    }
  }
  &.T {
    .player .hp_bar,
    .obs_slot {
      background-color: var(--color-new-t);
    }
    .player-stats svg {
      fill: var(--color-new-t);
    }
  }
  &.hide {
    opacity: 0;
  }
  &.left {
    left: 10px;
    .player {
      .player_data {
        .obs_slot {
          left: -10px;
        }
        .top_row {
          .defuser_bomb {
            left: 4px;
          }
          .roundkills {
            right: 4px;
          }
        }
        .bottom_row {
          .weapon_utility {
            justify-content: end;
          }
          .health_armor {
            padding-left: 8px;
          }
        }
      }
    }
  }
  .weapon.zeus {
    height: 30px;
    position: absolute;
    &.left {
      left: 170px;
    }
    &.right {
      right: 170px;
    }
  }
  &.right {
    align-items: end;
    right: 10px;
    .player {
      flex-direction: row-reverse;
      .player_data {
        .obs_slot {
          right: -10px;
        }
        .top_row {
          flex-direction: row-reverse;
          .defuser_bomb {
            right: 4px;
          }
          .roundkills {
            left: 4px;
          }
        }
        .bottom_row {
          flex-direction: row-reverse;
          .hp_bar,
          .hp_redbar {
            align-self: flex-end;
          }
          .health_armor {
            flex-direction: row-reverse;
            padding-right: 8px;
          }
          .weapon_utility {
            flex-direction: row-reverse;
            .roundkills-container {
              left: 115px;
            }
          }
          .secondary_weapon {
            padding-left: 10px;
          }

          .weapon {
            transform: scaleX(-1);
          }
        }
      }
    }
  }
  .player {
    width: 258px;
    height: 75px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    transition: width 0.5s;
    &.active {
      border-color: white;
    }
    .player_data {
      background-color: var(--sub-panel-color);
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      border-radius: var(--border-radius);

      .obs_slot {
        position: absolute;
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: var(--border-radius);
        color: white;
        font-weight: 700;
        bottom: 45%;
        justify-content: center;
        align-items: center;
      }

      .top_row {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        width: 100%;
        height: 65%;
        .avatar {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          position: relative;
          img {
            width: 65px;
            height: 65px;
          }
        }
        .username_money {
          display: flex;
          gap: 2px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;
          .username {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: 600;
            font-size: 18px;
          }
          .money {
            color: var(--primary-light);
            font-weight: 700;
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .defuser_bomb {
          position: absolute;
          top: 0;
          svg {
            width: 20px;
            height: 20px;
          }
          .bomb_indicator {
            fill: rgb(253, 94, 115);
          }
          .defuse_indicator {
            fill: var(--color-new-ct);
          }
        }
        .player-stats {
          flex: 1;
          display: flex;
          font-weight: 600;
          font-size: 14px;
          color: white;
          align-items: center;
          .statistics {
            margin-top: 10px;
            display: flex;
            gap: 8px;
            flex: 1;
            justify-content: center;
            align-items: end;
            .player-kills,
            .player-deaths {
              display: flex;
              align-items: center;
              gap: 4px;
              svg {
                width: 14px;
                height: 14px;
              }
            }
            .roundkills {
              position: absolute;
              top: 3px;
              width: 16px;
              height: 16px;
              border-radius: 16px;
              background-color: white;
              display: flex;
              justify-content: center;
              color: black;
              align-items: center;
            }
          }
        }
      }

      .bottom_row {
        display: flex;
        position: relative;
        width: 100%;
        height: 35%;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        overflow: hidden;
        .round_damage {
          width: 100%;
          height: 100%;
          display: none;
          color: #b2b2b2;
          font-size: 14px;
          font-weight: 700;
          justify-content: center;
        }
        .hp_bar {
          position: absolute;
          height: 100%;
          transition: width 0.75s;
        }
        .hp_redbar {
          position: absolute;
          height: 100%;
          background-color: rgb(172, 47, 47);
          transition: width 2s 0.75s;
        }
        .health_armor {
          width: 25%;
          height: 100%;
          z-index: 1;
          display: flex;
          align-items: center;
          gap: 2px;
          .health {
            display: flex;
            color: white;
            font-weight: 700;
            font-size: 18px;
            justify-content: center;
            align-items: center;
          }
          .armor_indicator {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 20px;
              height: 20px;
              fill: white;
            }
          }
        }
        .weapon_utility {
          z-index: 1;
          width: 75%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          .grenades {
            display: flex;
            align-items: center;
            justify-content: space-around;
            svg.grenade {
              width: 20px;
              height: 20px;
            }
          }
          svg.weapon {
            max-height: 30px;
            width: auto;
            margin-left: 5px;
            margin-right: 5px;
            max-width: 100px;
            height: 30px;
          }
          .secondary_weapon {
            display: flex;
            align-items: center;
            svg {
              max-height: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    &.dead {
      opacity: 0.7;
      width: 200px;
      .player_data {
        .top_row {
          height: 100%;
          .username_money {
            .username,
            .money {
              color: #b2b2b2;
            }
          }
          .statistics {
            margin-top: 0px;
            .roundkills {
              background-color: #b2b2b2;
            }
          }
        }

        .bottom_row {
          .round_damage {
            display: flex;
          }
          .weapon_utility,
          .health_armor {
            display: none;
          }
        }

        .obs_slot {
          display: none;
        }
        .hp_bar,
        .hp_redbar {
          transition: width 0s;
        }
        .avatar {
          display: none;
        }
        .player-stats {
          color: #b2b2b2;
          svg {
            fill: #b2b2b2;
          }
        }
      }
    }
  }
}

.players_alive {
  display: flex;
  flex-direction: column;
  width: 180px;
  background-color: var(--sub-panel-color);
  border-radius: var(--border-radius);
  position: fixed;
  right: 10px;
  top: 10px;
  opacity: 1;
  transition: width 0.5s;
  .counter_container {
    display: flex;
    height: 45px;
    > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 700;
      color: white;
    }
    .CT {
      color: var(--color-new-ct);
    }
    .T {
      color: var(--color-new-t);
    }
  }
  .title_container {
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.hide {
    opacity: 0;
  }
}
