.teambox {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.75s;
  &.CT {
    .player .hp_bar {
      background-color: var(--color-new-ct);
    }
    .player-stats svg {
      fill: var(--color-new-ct);
    }
  }
  &.T {
    .player .hp_bar {
      background-color: var(--color-new-t);
    }
    .player-stats svg {
      fill: var(--color-new-t);
    }
  }
  &.hide {
    opacity: 0;
  }
  &.left {
    left: 10px;
    .player {
      .row {
        flex-direction: row;
        .grenades {
          padding-right: 5px;
        }

        .armor_and_utility {
          justify-content: flex-start;
        }
        .money {
          margin-right: auto;
        }
        .username .roundkills-container {
          right: 115px;
        }
        .secondary_weapon {
          padding-right: 10px;
        }
        .player-stats {
          justify-content: flex-start;
          margin-left: 10px;
          .roundkills-container,
          .roundkills-container-dead {
            right: 4px;
          }
        }
      }
    }
  }
  .weapon.zeus {
    height: 30px;
    position: absolute;
    &.left {
      left: 170px;
    }
    &.right {
      right: 170px;
    }
  }
  &.right {
    right: 10px;
    .player {
      flex-direction: row-reverse;
      .player_data {
        flex-direction: row-reverse;
        .hp_bar {
          align-self: flex-end;
        }
        .row {
          flex-direction: row-reverse;
          .grenades {
            padding-left: 5px;
          }
          .username {
            flex-direction: row-reverse;
            .roundkills-container {
              left: 115px;
            }
          }
          .secondary_weapon {
            padding-left: 10px;
          }
          .armor_and_utility {
            justify-content: flex-end;
          }
          .money {
            margin-left: auto;
            justify-content: flex-end;
          }
          .weapon {
            transform: scaleX(-1);
          }
          .middle-row {
            flex-direction: row-reverse;
          }
          .player-stats {
            flex-direction: row-reverse;
            .roundkills-container,
            .roundkills-container-dead {
              left: 4px;
            }
          }
        }
      }
    }
  }
  .player {
    width: 300px;
    height: 75px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    &.active {
      border-color: white;
    }
    .player_side_bar {
      width: 10px;
      height: 70px;
      &.CT {
        background-color: var(--color-new-ct);
      }
      &.T {
        background-color: var(--color-new-t);
      }
    }
    .player_data {
      background-color: var(--sub-panel-color);
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      height: 100%;
      .player_stats {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        .hp_bar {
          position: absolute;
          height: 100%;
          transition: width 0.75s;
        }
        .row {
          flex: 1;
          display: flex;
          position: relative;
          svg.weapon {
            filter: invert(0);
            // &.active {
            //   filter: invert(0);
            // }
          }
          .hp_background,
          .hp_background_2 {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            transition: width 0.15s;
          }
          .hp_background_2 {
            background-color: var(--color-bomb);
          }
          .armor_and_utility {
            width: 39px;
            display: flex;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            .armor_indicator,
            .bomb_indicator,
            .defuse_indicator {
              svg {
                max-height: 20px;
                fill: white;
              }
            }
            div {
              display: flex;
              width: 50%;
            }
          }
          .middle-row {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .username {
            flex: 1;
            display: flex;
            align-items: center;
            z-index: 1;
            color: white;
            font-weight: 600;
            max-width: calc(100% - 49px);
            justify-content: space-between;
            overflow: hidden;
            font-size: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            .roundkills-container {
              position: absolute;
              background-image: url("../assets/images/icon_skull_default.svg");
              background-repeat: no-repeat;
              background-size: 10px;
              background-position: left 2px;
              padding-left: 16px;
              font-size: 13px;
            }
            div span {
              opacity: 0.6;
              font-size: 15px;
            }
            svg.weapon {
              max-height: 30px;
              width: auto;
              margin-left: 5px;
              margin-right: 5px;
              max-width: 100px;
              height: 30px;
            }
          }
          .grenades {
            display: flex;
            align-items: center;
            justify-content: space-around;
            svg.grenade {
              width: 20px;
              height: 20px;
            }
          }
          .health {
            width: 49px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            color: white;
            font-weight: 600;
            font-size: 18px;
          }
          .secondary_weapon {
            display: flex;
            align-items: center;
            svg {
              max-height: 30px;
              height: 30px;
            }
          }
          .player-stats {
            flex: 1;
            display: flex;
            font-weight: 600;
            font-size: 14px;
            color: white;
            align-items: center;
            .money {
              flex: 1;
              color: var(--color-moneys);
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .statistics {
              display: flex;
              gap: 8px;
              flex: 1;
              justify-content: center;
              align-items: center;
              .player-kills,
              .player-deaths {
                display: flex;
                align-items: center;
                gap: 4px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
              .roundkills-container,
              .roundkills-container-dead {
                position: absolute;
                width: 23px;
                height: 23px;
                bottom: 0;
                .player_skull,
                .dead_player_skull {
                  position: absolute;
                  width: 23px;
                  height: 23px;
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  svg {
                    max-height: 23px;
                    max-width: 23px;
                  }
                }
                .player_round_kills_text,
                .dead_player_round_kills_text {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  width: 23px;
                  height: 23px;
                  font-size: 12px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .avatar {
        width: 70px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        position: relative;
        .videofeed {
          width: 70px;
          height: 70px;
          position: absolute;
          display: flex;
          justify-content: center;
          video {
            height: 70px;
            position: absolute;
          }
        }
        img {
          //   border-radius: 50%;
          width: 100%;
        }
      }
    }
    &.dead {
      opacity: 0.7;
      .player_side_bar {
        background-color: var(--main-panel-color) !important;
      }
      .player_data {
        .avatar {
          filter: grayscale(100%);
        }
        .row {
          .hp_background_2 {
            opacity: 0;
          }
          .health {
            color: #b2b2b2;
            overflow: hidden;
          }
          .username {
            color: #b2b2b2;
          }
          .armor_and_utility {
            width: 0px;
            overflow: hidden;
          }
          .money {
            color: #466722;
          }
          .player-stats {
            color: #b2b2b2;
            svg {
              fill: #b2b2b2;
            }
          }
        }
      }
    }
  }
}

.players_alive {
  display: flex;
  flex-direction: column;
  width: 180px;
  background-color: var(--sub-panel-color);
  position: fixed;
  right: 10px;
  top: 10px;
  opacity: 1;
  transition: opacity 1s;
  .counter_container {
    display: flex;
    height: 45px;
    > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 700;
      color: white;
    }
    .CT {
      color: var(--color-new-ct);
    }
    .T {
      color: var(--color-new-t);
    }
  }
  .title_container {
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.hide {
    opacity: 0;
  }
}
